/* Heading including logo */

html {
    width: 82%;
    margin: auto;
    font-size: 22px;
}

body {
    background: url(../Multimedia/img/background_picture.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*background: rgb(58, 45, 45) ; */
    background-size: cover;
    width: 100%;
    font-family: 'Sofia', sans-serif !important;
}


/*Pre-load */

.spinner {
    width: 80px;
    /* Define the size */
    height: 80px;
    border: 2px solid #f3f3f3;
    /*Make it round */
    border-top: 3px solid #f25a41;
    border-radius: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation: spin 1s infinite linear;
    /*make it spin */
}

@keyframes
/*Animation */

spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#overlay {
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 1);
    position: fixed;
    left: 0;
    top: 0;
}


/*Navigation */


/*ref:https://www.w3schools.com/css/css3_buttons.asp */

#top_navbar {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.808);
    width: 100%;
    text-align: center;
    padding-top: 0.5%;
}

.nav_container {
    height: 5%;
}

.navbar {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.808);
    margin-bottom: 5%;
    width: 100%;
}

.navbar a {
    float: left;
    font-size: 70%;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.subnav {
    float: left;
    overflow: hidden;
}

.subnav .subnavbtn {
    font-size: 70%;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
}

.navbar a:hover,
.subnav:hover .subnavbtn {
    background-color: rgba(170, 82, 57, 1);
}

.subnav-content {
    display: none;
    position: absolute;
    left: 5%;
    right: 5%;
    background-color: rgba(212, 130, 106, 0.733);
    width: 80%;
    z-index: 1;
}

.subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
}

.subnav-content a:hover {
    background-color: rgba(255, 255, 255, 0.801);
    color: black;
}

.subnav:hover .subnav-content {
    display: block;
}

.valign_bottom {
    vertical-align: sub;
}

.valign_center {
    vertical-align: center;
}


/*Quick Link Boxex */

.gaping {
    width: 10px;
    height: 80px;
    border: 0px;
    width: 10px;
    height: 80px;
}

.no_margin {
    margin: 0 0;
}

.nav_button {
    text-align: center;
    display: block;
    padding: 50px !important;
    margin: 10px;
    background: rgb(10, 39, 83) linear-gradient(-40deg, #AA5239, #551300);
    font-size: 100%;
    width: 100%;
}

.no_border {
    border: 0;
}


/*Effect - Vision and Mision */

.width_40 {
    min-width: 40%;
}

.content {
    margin-bottom: 0.5%;
    border-style: dashed;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: red;
}

.index_border {
    border: #000 solid 1px;
    margin-left: 10%;
    margin-top: 2%;
}

.index_2 {
    padding-top: 2%;
}


/* Footer  */


/* https://youtu.be/qlCIXXhSX6Y */

footer {
    background-color: none;
    position: relative;
    height: -1%;
    margin: 1% 10% 1% 1%;
    margin-top: 10%;
    clear: both;
    background-color: rgba(255, 255, 255, 0.801);
    text-align: center;
    width: 98%;
}

footer .copyright {
    color: black;
    text-align: right;
    margin-right: 10%;
    padding-bottom: 0.25%;
}


/* Glass effect  */

.glass {
    color: black;
    display: block;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 1%;
}

.glass_table {
    color: black;
    background-color: rgba(255, 255, 255, 0.7);
}


/* Floating */

.float_right {
    float: right;
}

.float_left {
    float: left;
    margin-left: 1%;
}

.floatfix {
    clear: both;
    margin: 0 auto;
}


/* modify */


/* Modify heading  */

.h4 {
    color: black;
    display: inline-block;
    font-size: 1.2em;
    padding: 0.5% 1% 1% 0.5%;
    margin: 1%;
}

.center {
    margin-left: 50%;
    text-align: center
}

.center1 {
    text-align: center
}

.paragraph {
    width: 100%;
}

.break_word {
    word-wrap: break-word;
}

.underline {
    text-decoration: underline;
}

.center {
    text-align: center;
}


/*Font size */

.font_180 {
    font-size: 180%;
}

.font_150 {
    font-size: 150%;
}

.font_120 {
    font-size: 120%;
}

p {
    font-size: 120%;
}


/* Responsive Exclusive */


/*Max Width */

@media only screen and (max-width: 800px) {
    #top_navbar {
        display: none;
    }
    .nav_button {
        font-size: 100%;
    }
    .font_180 {
        font-size: 100%;
    }
}

@media only screen and (max-width: 600px) {
    #home_video {
        width: 95%;
    }
    .square_80 {
        height: 30%;
        width: auto;
    }
    .font_180 {
        font-size: 80%;
    }
    body {
        min-height: 100%;
    }
}

@media only screen and (max-width: 400px) {
    #home_video {
        width: 95%;
    }
    .square_80 {
        height: 20%;
        width: auto;
    }
    .nav_button {
        font-size: 100%;
        vertical-align: center;
    }
    .font_180 {
        font-size: 70%;
    }
    body {
        min-height: 100%;
    }
}


/*Min Width */

@media only screen and (min-width: 1000px) {
    .ql_alignment {
        margin-right: 60%;
    }
}


/* Who are we? */


/* Three columns side by side */

.PP_column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}


/* Display the columns below each other instead of side by side on small screens */

@media screen and (max-width: 650px) {
    .PP_column {
        width: 100%;
        display: block;
    }
}


/* PP */


/* Add some shadows to create a card effect */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
}


/* Some left and right padding inside the container */

.PP_container {
    padding: 0 16px;
}


/* Clear floats */

.container::after,
.PP_row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.PP_button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.PP_button:hover {
    background-color: #555;
}


/* Login Form */

.Login_form {
    text-align: center;
}

.login_input {
    margin: 0.25%;
    padding: 0.25%;
}


/*Activities */


/*calender */

.calender {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center；
}

.calender_td {
    border: 1px solid black;
    text-align: center;
    background: rgba(255, 255, 255, 0.7);
    width: 10%;
}

.calender_td:hover {
    border: 1px solid black;
    text-align: center;
    background: rgba(255, 255, 255, 0.9)
}

.active {
    border: 1px solid black;
    text-align: center;
    opacity: 1;
    transition: 0.3s;
    background-color: rgba(67, 144, 216, 0.7);
}

.legend {
    margin-top: 3%;
    text-align: center;
    width: 70%;
    margin-left: 15%;
}

.deactive {
    border: 1px solid black;
    text-align: center;
    opacity: 1;
    transition: 0.3s;
    color: whitel;
    background-color: rgba(14, 13, 13, 0.521);
}


/* Taekwondo Body */

.TBODY_column {
    float: left;
    width: 33%;
    padding: 0.55%
}


/* Clear floats after the columns */

.TBODY_row:after {
    content: "";
    display: table;
    clear: both;
}

.TBODY_column {
    float: left;
}

.equal_box {
    width: 33%;
    height: 40%;
    border: rgba(0, 0, 0, 0) solid;
}

.equal_box_left {
    margin-left: 0.66%;
}


/*Responsive */

@media screen and (max-width: 600px) {
    .TBODY_column {
        width: 100%;
    }
}

.TBODY_picture {
    width: 50%;
    margin-left: 25%;
    padding: 0.5%;
}

.TBODY_VS {
    width: 25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
    margin-top: 11%;
    margin-bottom: 15%;
    position: sticky;
}

.TBODY_VS_DIV {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 100%;
}


/* History */


/* Create two equal columns that floats next to each other */

.H_column {
    float: left;
    width: 70%;
    padding: 10px;
}


/* Clear floats after the columns */

.H_row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .H_column {
        width: 100%;
    }
}


/*Rank and belt */

.T_RANK {
    display: block;
    width: 60%;
    padding: 1%;
    margin-left: 19%;
}

.calender {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center；
}

.RANK_TD,
.RANK_TH {
    border: 1px solid black;
    text-align: center;
    background: rgba(255, 255, 255, 0.7);
    width: 10%;
}

.calender_td:hover {
    border: 1px solid black;
    text-align: center;
    background: rgba(255, 255, 255, 0.9)
}


/* Contact Us */

#map {
    height: 400px;
    width: 100%;
}


/* Create two equal columns that floats next to each other */

.contact_column {
    float: left;
    width: 50%;
    padding: 10px;
}


/* Clear floats after the columns */

.contact_row:after {
    content: "";
    display: table;
    clear: both;
}

.Contact_button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 40%;
}

.Contact_button:hover {
    background-color: #555;
}