body {
    background: white;
    font-size: 125%;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin: 0;
    margin-top: 10%;
    padding: 0;
}

.column1 {
    float: left;
    width: 29.5%;
    padding: 0 0.25% 0 0.25%;
    border-radius: 5%;
    height: 700px;
    background-color: lightgray
}

.column2 {
    float: left;
    width: 69.5%;
    padding: 0 0.25% 0 0.25%;
    border-radius: 5%;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.name {
    font-size: 500%;
}

h2 {
    color: darkblue
}